<div class="container">
  <header class="contact">
    <i class="fas fa-code"></i>
    <div>
      <h1>Victor Bianchi</h1>
      <h3 class="job-title"><%= t('job_title') %></h3>
    </div>
    <ul class="contact-list">
      <li>
        <i class="fas fa-envelope-square"></i>
        vbianchi90@gmail.com
      </li>
      <li>
        <i class="fas fa-phone-square"></i>
        514 436-7648
      </li>
      <li>
        <a href="https://github.com/v-bianchi" target="_blank">
          <i class="fab fa-github-square"></i>
          github.com/v-bianchi
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/vbianchi" target="_blank">
          <i class="fab fa-linkedin"></i></i>
          linkedin.com/in/vbianchi
        </a>
      </li>
    </ul>
  </header>

  <section class="profile">
    <h2><%= t('profile.heading') %></h2>

    <p>
      <%= t('profile.about') %>
    </p>
  </section>

  <section class="skills">
    <h2><%= t('skills.heading') %></h2>

    <div class="skill-icons">
      <span>Front-end</span>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
    </div>
    <div class="skill-icons">
      <span>Back-end</span>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
    </div>
    <div class="skill-icons">
      <span><%= t('skills.teamwork') %></span>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
    </div>
    <div class="skill-icons">
      <span><%= t('skills.languages') %></span>
      <%= image_tag "France.png" %>
      <%= image_tag "United-kingdom.png" %>
      <%= image_tag "Italy.png" %>
      <%= image_tag "Portugal.png" %>
      <%= image_tag "Spain.png" %>
    </div>
  </section>

  <section class="projects">
    <h2><%= t('projects.heading') %></h2>

    <ul class="list">
      <li>
        <p><strong>Movie Tandem</strong></p>
        <p><a href="https://movie-tandem.herokuapp.com" target="_blank">https://movie-tandem.herokuapp.com</a></p>
        <p>
          <%= t('projects.project_1.description') %>
        </p>
        <p><em><%= t('projects.project_1.tech') %></em></p>
      </li>
      <li>
        <p><strong>Winelife</strong></p>
        <p><a href="https://wine-life.herokuapp.com" target="_blank">https://wine-life.herokuapp.com</a></p>
        <p>
          <%= t('projects.project_2.description') %>
        </p>
        <p><em><%= t('projects.project_2.tech') %></em></p>
      </li>
    </ul>
  </section>

  <section class="work-experience">
    <h2><%= t('work.heading') %></h2>

    <ul class="list">
      <li>
        <span><%= t('work.job_1.time') %></span>
        <p><strong><%= t('work.job_1.position') %></strong></p>
        <p><em><%= t('work.job_1.company') %></em></p>
        <p>
          <%= t('work.job_1.description') %>
        </p>
      </li>
      <li>
        <span><%= t('work.job_2.time') %></span>
        <p><strong><%= t('work.job_2.position') %></strong></p>
        <p><em><%= t('work.job_2.company') %></em></p>
        <p>
          <%= t('work.job_2.description') %>
        </p>
      </li>
    </ul>
  </section>

  <section class="education">
    <h2><%= t('education.heading') %></h2>

    <ul class="list">
      <li>
        <span><%= t('education.degree_1.time') %></span>
        <p><strong><%= t('education.degree_1.title') %></strong></p>
        <p><em><%= t('education.degree_1.institution') %></em></p>
        <p><%= t('education.degree_1.description') %></p>
      </li>
      <li>
        <span><%= t('education.degree_2.time') %></span>
        <p><strong>DEP Mécanique automobile</strong></p>
        <p><em>École des métiers de l'équipement motorisé de Montréal</em></p>
      </li>
      <li>
        <span><%= t('education.degree_3.time') %></span>
        <p><strong>AEC Comptabilité financière informatisée</strong></p>
        <p><em><%= t('education.degree_3.institution') %></em></p>
      </li>
    </ul>
  </section>
</div>

